:root {
  --color-bg: #f8f9fa;
  --color-text: #212529;
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-danger: #dc3545;
  --radius: .5rem;
  --shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  --spacer-1: .5rem; /*8px*/
  --spacer-2: .75rem; /*12px*/
  --spacer-3: 1rem; /*16px*/
  --spacer-4: 1.5rem; /*24px*/
}
body {
  background: var(--color-bg);
  color: var(--color-text);
}
body.dark {
  --color-bg: #212529;
  --color-text: #f8f9fa;
  --color-primary: #0d6efd;
  --color-secondary: #adb5bd;
  --color-danger: #f03e3e;
  background: var(--color-bg);
  color: var(--color-text);
}
.btn-icon > i { margin-right: .5rem; }
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  background: #e2e5e7;
  border-radius: var(--radius);
  color: transparent;
}
body.dark .skeleton { background: #495057; }
@keyframes skeleton-loading {
  from { opacity:.6; }
  to { opacity:1; }
}
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  white-space:nowrap;
  border:0;
}
.visually-hidden-focusable:focus,
.visually-hidden-focusable:focus-within {
  position:static;
  width:auto;
  height:auto;
  margin:0;
  overflow:visible;
  clip:auto;
  white-space:normal;
}

input[type=number],
.form-control[type=number] {
  text-align: left !important;
}

.share-btn {
  margin-left: .5rem;
}
